body {
    font-family: 'Roboto', sans-serif;
}
#navbar {
    background-color: #52A8A1;
    font-size: 1.5rem;
}
#brand-icon {
    width: 3rem;
}
#dropdown-navbar {
    background-color: #59B0AA;
}
#dropdown-navbar .dropdown-item:hover{
    background-color: #52A8A1;
}
main {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
}
main .sidebar {
    background-color: #4d6072;
    flex: 1 2 15%;
}

main .content {
    background-color: rgb(220, 224, 224);
    flex: 2 1 85%;
}
.product-display {
    margin: 2vh;
}
.main-heading h1{
    color:#447aac;
}
.product-categori h3{
    color: #52A8A1;
}
